#main-container{
    width: calc(100vw - 64px);
    height: 100vh;
    background: var(--light-color);
}

#main-container > main{
    height: calc(100vh - 160px);
}

@media (min-width: 768px){

    #main-container{
        width: calc(100% - 360px);
    }

}