#main-container{
    width: calc(100% - 64px);
    height: 100vh;
}

#main-container > main{
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

@media (min-width: 768px){

    #main-container{
        width: calc(100% - 360px);
    }

}