#app{
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-template-rows: 100vh;
    grid-template-areas: "main aside";
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
    background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {

    #app{
        grid-template-columns: 1fr 360px;
    }

}